<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191463496402-krjrlmna9scrfb62a5vsvu4njnjld32a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191463496402-krjrlmna9scrfb62a5vsvu4njnjld32a</string>
	<key>API_KEY</key>
	<string>AIzaSyDCtmXMq-ZL9JTh0Qty3DKS9Ul1e9FvRws</string>
	<key>GCM_SENDER_ID</key>
	<string>191463496402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silo.app</string>
	<key>PROJECT_ID</key>
	<string>silo</string>
	<key>STORAGE_BUCKET</key>
	<string>silo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191463496402:ios:d9ce5163d2b2e140ac2b0b</string>
	<key>DATABASE_URL</key>
	<string>https://silo-4608a.firebaseio.com</string>
</dict>
</plist>